<div class="page-header">
  <h1>The Class Doeeee <small>Best Class 2k12</small></h1>
</div>

<body>
<div class="container">
	<div class="container">
		<div class="container">		<!-- center's picture -->
			<div class="container">
				<div class="container">
					<div class="container">
	<%=image_tag("https://scontent-b-lga.xx.fbcdn.net/hphotos-frc3/552052_10150683192493751_941556651_n.jpg", :align=> "center")%>
</div>
	</div>
		</div>			<!-- center's picture -->
			</div>
				</div>
					</div>
<div class="center">
<p>Alpha Nu Class [ AN ]</p>
<P>Gino “P.O.W.ER” Nadela</p>
<P>Patrick “Acclimate” Jeu</p>
<P>Steven “Recoil” Meng</p>
<P>Felix “Crimson” Chan</p>
<P>Eric “Toretto” Li</p>
<P>Dylan “Clinch” Chen</p>
<P>Danny “Tomahawk” Zhu</p>
<P>Jack “Raiden” Ma</p>
</div>
</body>